.game-cell {
  height: 4rem;
  width: 3rem;
  background-color: var(--primaryColor);
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
